@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
/* =========================
   FACULTY SIDEBAR
========================= */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 308px;
    height: 100vh;
    background: #111827;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

/* =========================
   LOGO
========================= */

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 22px 18px;
    border-bottom: 1px solid #1f2937;
}

.logo-icon {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #2563eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.logo-text h2 {
    margin: 0;
    font-size: 17px;
}

.logo-text span {
    font-size: 11px;
    color: #9ca3af;
}

/* =========================
   MENU
========================= */

.sidebar-menu {
    flex: 1;
    padding: 20px 12px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 14px;
    margin-bottom: 6px;
    border-radius: 8px;
    color: #d1d5db;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.sidebar-menu a:hover {
    background: #1f2937;
    color: white;
}

.sidebar-menu a.active {
    background: #2563eb;
    color: white;
}

/* =========================
   ICON
========================= */

.menu-icon {
    width: 22px;
    text-align: center;
    font-size: 17px;
}

/* =========================
   BOTTOM / LOGOUT
========================= */

.sidebar-bottom {
    padding: 15px 12px;
    border-top: 1px solid #1f2937;
}

.logout-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 14px;
    border-radius: 8px;
    color: #d1d5db;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.logout-link:hover {
    background: #dc2626;
    color: white;
}